 <ul>   
    <li><a class="button-link" href="/new">New form</a></li>
    <li><a class="button-link" href="/show">Show Mobiles</a></li>
    <li><a class="button-link" href="/black">Black Mobiles</a></li>
    <li><a class="button-link" href="/lasttwo">Last Two Mobiles</a></li>
    <li><a class="button-link" href="/prime">Prime ID Mobiles</a></li>
    <li><a class="button-link" href="/sort">Sort By Price High-Low</a></li>
    <li><a class="button-link" href="/nondub">Non-Duplicate Rated Mobiles</a></li>
    <li><a class="button-link" href="/update">Update</a></li><br>
    <router-outlet></router-outlet>

    <app-exercise></app-exercise>
       
</ul>










    <!-- <li><a routerLink="/new">New form</a></li><br><br>
    <li><a routerLink="/show">Show Mobiles</a></li><br><br>
    <li><a routerLink="/black">Black Mobiles</a></li><br>
    <li><a routerLink="/lasttwo">Last Two Mobiles</a></li><br>
    <li><a routerLink="/prime">Prime ID Mobiles</a></li><br>
    <li><a routerLink="/sort">Sort By Price High-Low</a></li><br>
    <li><a routerLink="/nondub">Non-Duplicate Rated Mobiles</a></li><br>
    <li><a routerLink="/update">Update</a></li><br>
    <router-outlet></router-outlet> -->
